doctype html
html(lang="en")
  head
    title= Title
    link(rel="stylesheet" href=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body
    .ClientContainer
      .ClientContainer-Header
        nav.navbar.navbar-expand-lg.navbar-light.bg-faded
          a.navbar-brand(href="/") Chat
          button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
            span.navbar-toggler-icon
      #chat.ClientContainer-Main
    script(src=assetPath('main.js'))
