$primary: #46b193;
$light: #4d394b;

@import '~bootstrap/scss/bootstrap';

.ClientContainer {
  height: 100vh;
  width: 100vw;
}

.ClientContainer-Header {
  height: 56px;
  display: flex;
}

.AppHeader-Left {
  width: 220px;
  background: #4d394b;
}

.AppHeader-Right {
  height: 100%;
  width: calc(100% - 200px);
  border-bottom: 1px solid #e6e6e6;
}

.navbar-light .Navbar-Title {
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
}

.navbar-light .Navbar-Title:hover,
.navbar-light .Navbar-Title:focus {
  color: rgba(255, 255, 255, 1);
}

.ClientContainer-Main {
  height: calc(100% - 56px);
  display: flex;
}

.ClientContainer-Left {
  width: 220px;
}

.ClientContainer-Right {
  width: calc(100% - 220px);
}

.ChannelsPanel {
  overflow-y: scroll;
}

.ChannelsPanel_color_primary {
  background-color: #4D394B;
}

.ChannelPanel-Title {
  margin-left: 16px;
  font-weight: 600;
  color: #ffffff;
}

.ChannelPanel-ChannelsNames {
  margin-top: 16px;
}

.ChannelPanel-ChannelName {
  font-weight: 600;
  color: #ffffff;
}

.ChatWorkspace {
  display: flex;
  flex-direction: column;
}

.ChatWorkspace-Messages {
  flex-grow: 1;
  padding: 0px 20px;
  overflow-y: scroll;
}

.MessageBlock {
  margin-bottom: 10px;
}

.MessageBlock-Username {
  font-weight: 600;
  font-size: .9rem;
}

.ChatWorkspace-Footer {
  padding: 0 20px 20px 20px;
}

.Form-Group {
  display: flex;
}

.WarningPanel {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.WarningPanel .alert {
  margin: 0;
  padding: 2px;
  text-align: center;
  font-size: .8rem;
}