$primary: #46b193;
$light: #4d394b;

@import '~bootstrap/scss/bootstrap';

.ClientContainer {
  height: 100vh;
  width: 100vw;
}

.ClientContainer-Header {
  height: 56px;
  display: flex;
}

.AppHeader-Left {
  width: 220px;
  background: #4d394b;
}

.AppHeader-Right {
  height: 100%;
  width: calc(100% - 200px);
  border-bottom: 1px solid #e6e6e6;
}

.navbar-light .Navbar-Title {
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
}

.navbar-light .Navbar-Title:hover,
.navbar-light .Navbar-Title:focus {
  color: rgba(255, 255, 255, 1);
}

.ClientContainer-Main {
  height: calc(100% - 56px);
  display: flex;
}

.ClientContainer-Left {
  width: 220px;
}

.ClientContainer-Right {
  width: calc(100% - 220px);
}

.ChannelsPanel {
  overflow-y: scroll;
}

.ChannelsPanel_color_primary {
  background-color: #4D394B;
}

.ChannelPanel-ChannelsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.ChannelPanel-Title {
  font-weight: 600;
  color: #ffffff;
}

.ChannelPanel-ChannelsNames {
  margin-top: 16px;
}

.ChannelName {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}

.ChannelName-Actions {
  display: none;
  align-items: center;
}

.ChannelName:hover {
  background: rgba(0, 0, 0, .2);
}

.ChannelName:hover > .ChannelName-Actions {
  display: flex;
}

.ChannelName_active,
.ChannelName_active:hover {
  background-color: $primary;
}

.ChannelName-Text {
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ChannelName-ActionBtn {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: .5;
  border: none;
}

.ChannelName-ActionBtn:hover {
  opacity: .8;
}

.ChannelName-ActionBtn_type_remove {
  background-image: url('./close-2x.png');
}

.ChannelName-ActionBtn_type_edit {
  background-image: url('./pencil-2x.png');
}

.ChannelName-ActionBtn_type_add {
  background-image: url('./plus-2x.png');
}

.ChatWorkspace {
  display: flex;
  flex-direction: column;
}

.ChatWorkspace-Messages {
  flex-grow: 1;
  padding: 0px 20px;
  overflow-y: scroll;
}

.MessageBlock {
  margin-bottom: 10px;
}

.MessageBlock-Username {
  font-weight: 600;
  font-size: .9rem;
}

.ChatWorkspace-Footer {
  padding: 0 20px 20px 20px;
}

.Form-Group {
  display: flex;
}

.WarningPanel {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.WarningPanel .alert {
  margin: 0;
  padding: 2px;
  text-align: center;
  font-size: .8rem;
}