@import '~bootstrap/scss/bootstrap';

.ChannelsPanel {

}

.ChannelsPanel_color_primary {
  background-color: #4D394B;
}

.ChannelPanel-ChannelName {
  font-weight: 600;
  color: #ffffff;
  background: transparent;
  border: transparent;
}